<html>
  <head>
    <link id="calcgadget_style_sheet" rel="StyleSheet" href="./css/calcgadget.css" type="text/css" />
    <script type="text/javascript" src="./js/game_of_life.js"></script>
    <title>Game of Life</title>
  </head>
  <body>
    <div id = "content">

	  <p>This is a simple simulation of Conway's Game of Life
        using the canvas element from HTML5.
        Click in the grey area to bring cells to life.
	  </p>

      <div style = "width:450px; float:left;">
        <canvas id = "game_of_life" style = "border : 1px solid #E2E2E2;"></canvas>
        <button class = "calcButton" id = "step" style = "width : 142px;">Step</button>
        <button class = "calcButton" id = "play" style = "width : 142px;">Play</button>
        <button class = "calcButton" id = "pause" style = "width : 142px;">Pause</button>
        <button class = "calcButton" id = "reset" style = "width : 448px; margin-top : 5px;">Reset</button>
      </div>

	  <div id = "info" style = "width:35%;float:right">
	    <p>&nbsp;&nbsp;&nbsp;The <b>Game of Life</b>, also known simply as <b>Life</b>,
          is a cellular automaton devised by the British mathematician John Horton Conway in 1970.
	    </p>
	    <p>&nbsp;&nbsp;&nbsp;The "game" is a zero-player game,
          meaning that its evolution is determined by its initial state,
          requiring no further input.
          One interacts with the Game of Life by creating an initial configuration and observing how it evolves.
	    </p>
	    <p>&nbsp;&nbsp;&nbsp;Source : <a href = "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Wikipedia</a>
	    </p>
	  </div>

    </div>
  </body>
</html>
