<html>
  <head>
  </head>
  <body>
    <div id = 'content'>
	  <h3>About me:</h3>
	  <p>
	    <img src="./images/me.png" alt="my picture" width="130" height="138" style="float:left"/>
	    Welcome!<br/> <br/>
	    I am Sujeet Gokul Gholap.<br/> 
        I am a B.Tech 3<sup>rd</sup> year student in 
        <a href="http://www.cse.iitm.ac.in/" >Department of Computer Science and Engineering,IIT Madras.</a>
	  </p>
	  <p>
	    I hail form a town named Kallam in Osmanabad district of Maharashtra.<br/>
	    <br/>
	    <br/>
	  </p>

	  <h3>Mail me</h3>
	  <img id="mail_image" src="./images/mail.png" alt="emailid" width="320" height="48"/>

    </div>
  </body>
</html>
